@font-face {
  font-family: "Akkurat Mono";
  font-weight: 100;
  src: url("../fonts/Akkurat-Mono.OTF");
}

@keyframes wiping {
  from {
    width: 0;
  } to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  font-family: "Akkurat Mono", Arial, Helvetica, sans-serif;
  background-color: #343a40;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Akkurat Mono";
  overflow: hidden;
  white-space: nowrap;
  animation: wiping 2s;
  font-weight: 100;
}

.blink {
  animation: blink 1s infinite;
}

.coming-soon {
  width: 100%;
}

.coming-soon::before {
  font-size: 2em;
  position: absolute;
}

#brand, #dummy-cli {
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  overflow: hidden;
  z-index: 10;
  line-height: 1.3;
}

#brand {
  left: 8px;
  bottom: 8px;
}

#brand h1 {
  font-size: 24px;
  margin: 0;
}

#brand h4 {
  font-size: 14px;
  margin: 0;
}

#dummy-cli {
  right: 8px;
  bottom: 8px;
}

#dummy-cli input, #dummy-cli button {
  font-family: "Akkurat Mono";
  height: 2rem;
}

#dummy-cli button {
  background-color: #343a40;
  color: #fff;
  border: solid 1s #fff;
  border-radius: 10px 0 0 10px;
}

#dummy-cli input {
  border: none;
  width: 12rem;
}