body {
  font-family: "Space Mono", Arial, Helvetica, sans-serif;
  background-color: #300a24;
  color: #fff;
  font-size: 14px;
}

.machine-console {
  color: #8AE234;
  outline: none;
}

.console-input::before {
  content: ":$ ";
  color: #fff;
}

/* .console-input::after {
  content: "_";
  color: #fff;
  width: 3px;
} */

.console-input:focus {
  border: none;
  outline: none;
}