@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes icon-blink {
  from {
    background-color: #fff;
    color: #300a24;
  } to {
    background-color: #300a24;
    color: #fff;  
  }
}

@font-face {
  font-family: "Necto Mono";
  src: url('../fonts/NectoMono-Regular.otf');
}

body {
  font-family: "Necto Mono", monospace;
  background-color: #300a24;
  color: #fff;
  font-size: 16px;
  line-height: 1.2;
}

#input {
  margin: 0;
}

.machine-console {
  color: #8AE234;
  outline: none;
}

.machine-console::after {
  content: ":~$";
  color: #fff;
  width: 3px;
}

.console-input {
  background-color: #300a24;
  color: #fff;
  border: none;
  font-family: "Necto Mono";
  width: fit-content;
}

.console-input:focus {
  border: none;
  outline: none;
}

#external-options {
  position: fixed;
  display: inline;
  right: 8px;
  bottom: 8px;
  opacity: 0;
  transition: opacity .5s ease;
}

#external-options:hover {
  opacity: 1;
}

.external-option-icon {
  cursor: pointer;
  background-color: #300a24;
  border: 1px solid #fff;
  padding: 5px;
  margin: 8px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.external-option-icon a,
.external-option-icon a:hover,
.external-option-icon a:visited {
  color: #fff;
  text-decoration: none;
}

a, a:hover, a:visited {
  color: #fff;
}

#shortcut {
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 5px;
  border-radius: 5px;
  background-color: #333333;
}

#shortcut kbd {
  font-family: "Necto Mono";
}

input {
  font-size: 16px;
}