@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,600&display=swap');

@keyframes wiping {
  from {
    width: 0;
  } to {
    width: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  font-family: "Chakra Petch", Arial, Helvetica, sans-serif;
  background-color: #343a40;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Chakra Petch";
  overflow: hidden;
  white-space: nowrap;
  animation: wiping 2s;
}

.blink {
  animation: blink 1s infinite;
}

.coming-soon {
  width: 100%;
}

.coming-soon::before {
  font-size: 2em;
  font-weight: bolder;
  position: absolute;
}